@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

header {
  background-color: #C8EFEA;
}

h1 {
  font-size: 26px;
  color: #00597C;
}

h2 {
  font-size: 18px;
}

main {
  background: #fff;
}

.button {
  background: #1F91BE;
  font-weight: 600;
}